<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'functions.js' %}"></script>
    <title>Divisors</title>
  </head>
  <body onload="initialize_divisors({{ divisors }}, {{ number }});">
      <main>
          <div class="number_form">
            <form action="{% url 'index' %}" method="post">
            {% csrf_token %}        
            <label for="number">give number to compute divisors</label><br>            
            <input type="number" id="number" name="number" min="1" max="2000000000"><br>
            <input type="submit" value="Compute divisors">
            </form>
          </div>    
          <div class = "numbers_list" id="list">
          {% if number %}   
          <p id="divisors_header">divisors of {{ number }}</p>
          {% endif %}          
            {% for d in divisors %}                    
            <span class = "number_item" id="divisor{{ forloop.counter }}">{{ d }}</span>
            {% endfor %}
          </div>       
      </main>
  </body>
</html>