<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'functions.js' %}"></script>
    <title>Divisors</title>
  </head>
  <body>
      <main>
          <div class="number_form">
            <form method="post"></form>
            {% csrf_token %}        
            <label for="number">Give number to compute divisors</label><br>            
            <input type="number" id="number" name="number" min="1" max="2000000000"><br>
            <input type="submit" onclick="show_number('divisor1')" value="Compute divisors">
            </form>
          </div>        
          <div class = "numbers_list">
            {% for d in divisors %}        
            <label class = "number_item" id="divisor{{ forloop.counter }}">{{ d }}</label>
            {% endfor %}
          </div>       
      </main>
  </body>
</html>